<div>
  <table>
    <tr>
      <td><h1>User info</h1></td>
    </tr>
    <tr>
      <td><%= image_tag @user.get_profile_image(100, 100) %></td>
    </tr>
    <tr>
      <td>name</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
  <div>
    <p><%= link_to edit_user_path(@user.id) do %> </p>
    <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
</div>

<div>
  <%= link_to edit_user_path(@user) do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div> 

<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :opinion %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>

<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to user_path(book.user_id) do %>
            <%= image_tag book.user.get_profile_image(80,80) %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
        </td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>