<div>
  <div>
    <div>
      <h1>Editing Book</h1>
      <%= form_with model: @book, method: :patch do |f| %>
        <div>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </div>
        <div>
          <%= f.label :opinion %><br>
          <%= f.text_area :opinion %>
        </div>
        <div>
          <%= f.submit "Update Book" %>
        </div>
      <% end %>

      <%= link_to "Show", book_path(@book) %>
      
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>